<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>MOVILIDAD360DN</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;600;700&display=swap" rel="stylesheet">

        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/templatemo-ebook-landing.css" rel="stylesheet">
<!--

TemplateMo 588 ebook landing

https://templatemo.com/tm-588-ebook-landing

--> 
<body>
    <main>
        <nav class="navbar navbar-expand-lg color-texto-nav">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <span>
                        <a href=""><img src="images/imagen_2024-04-07_122528292-removebg-preview.png" style="float: left; margin-right: 10px; width: 450px"></a>
                    </span>
                </a>

           <style>
            body {
  background-image: url('../landing-page/images/guagua.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 105%;  /* Ajusta este valor según tus necesidades */
}
           </style>

                <div class="d-lg-none ms-auto me-3">
                    <a href="#" class="btn custom-btn custom-border-btn btn-naira btn-inverted">
                        <i class="btn-icon bi-cloud-download"></i>
                        <span><a href="mailto:"></a></span>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto me-lg-4">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_2" style="color: #000000">Ver rutas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_3" style="color: #000000">Metro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_4" style="color: #000000">OMSA</a>
                        </li>
                    </ul>
                    <div class="d-none d-lg-block" style="border: 2px solid #000000; padding: 10px;">
                        <a href="#" class="btn custom-btn custom-border-btn btn-naira btn-inverted btn-entrar">
                            <span style="color: #000000;">Entrar</span>
                        </a>
                    </div>

                    <ul class="navbar-nav ms-lg-auto me-lg-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #000000">
                                Idioma
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">ES</a></li>
                                <li><a class="dropdown-item" href="#">EN</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
   

        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1"">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-5 pb-5 pb-lg-0 mb-lg-0">
                        <h6 style="color: #ff8f17">Viaja seguro por el distrito nacional</h1>
                        <h1 style="color: #14183E">Era digital en nuestro transporte</h1>
                        <p><a href="#section_3" style="color: #14183E">Nueva plataforma Movilidad360DN. Este sistema combina diversas tecnologías y estrategias para optimizar la eficiencia, seguridad y comodidad del transporte público en el Distrito Nacional.</a></p>
                        <a href="#section_1" class="btn custom-btn smoothscroll me-3">MAS INFORMACION</a>
                    </div>
                    <div class="hero-image-wrap col-lg-6 col-12 mt-3 mt-lg-0">
                    </div>
                </div>
            </div>
        </section>

            <section class="reviews-section section-padding" id="section_4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-12 text-center mb-5">
                            <h6 style="color: #14183E">Transporte</h6>
                            <h2 style="color: #14183E">¿Que ofrecemos?</h2>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="custom-block d-flex flex-wrap">
                                <div class="custom-block-image-wrap d-flex flex-column">
                                    <div class="text-center mt-3">
                                        <a href=""><img class="imagen-especifica" src="../landing-page/images/imagen_2024-04-07_134903360-removebg-preview.png"></a>
                                    </div>
                                </div>
                                <div class="custom-block-info">
                                    <div class="reviews-group mb-3">
                                    </div>
                                    <p class="mb-0" style="color: #14183E;">Rutas</p>
                                    <p class="mb-0" style="color: #9f9f9f;">Manejo de rutas de las mejores aplicaciones online.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12 my-5 my-lg-0">
                            <div class="custom-block d-flex flex-wrap">
                                <div class="custom-block-image-wrap d-flex flex-column">
                                    <div class="text-center mt-3">
                                        <a href=""><img src="../landing-page/images/imagen_2024-04-07_135820088-removebg-preview.png"></a>
                                    </div>
                                </div>
                                <div class="custom-block-info">
                                    <div class="reviews-group mb-3">
                                    </div>
                                    <p class="mb-0" style="color: #14183E;">Monedero Digital</p>
                                    <p class="mb-0" style="color: #9f9f9f;">Utilice su tarjeta de preferencia para pago de boletria online. </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="custom-block d-flex flex-wrap">
                                <div class="custom-block-image-wrap d-flex flex-column">
                                    <div class="text-center mt-3">
                                        <a href=""><img src="../landing-page/images/imagen_2024-04-07_141207404-removebg-preview.png"></a>
                                    </div>
                                </div>
                                <div class="custom-block-info">
                                    <div class="reviews-group mb-3">
                                    </div>
                                    <p class="mb-0" style="color: #14183E;">Informacion del trafico</p>
                                    <p class="mb-0" style="color: #9f9f9f;">Informes a tiempo real de trafico con coneccion satelital.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="custom-block d-flex flex-wrap">
                                <div class="custom-block-image-wrap d-flex flex-column">
                                    <div class="text-center mt-3">
                                        <a href=""><img src="../landing-page/images/imagen_2024-04-07_141217285-removebg-preview.png"></a>
                                    </div>
                                </div>
                                <div class="custom-block-info">
                                    <div class="reviews-group mb-3">
                                    </div>
                                    <p class="mb-0" style="color: #14183E;">Servicio online 24/7</p>
                                    <p class="mb-0" style="color: #9f9f9f;">Servicio de quejas, reclamaciones y dudas siempre activo.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            
            <section class="reviews-section section-padding" id="section_4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-12 text-center mb-5">
                            <h6 style="color: #050b41">Boletos</h6>
                            <h2 style="color:#14183E">Elige tus recargas</h2>
                        </div>
                        <div class="col-lg-3 col-12 my-5 my-lg-0">
                            <div class="custom-block d-flex flex-wrap">
                                <div class="custom-block-image-wrap d-flex flex-column">
                                    <div class="text-center mt-3">
                                        <img src="../landing-page/images/osma5.jpg"> <!-- primera imagen -->
                                    </div>
                                </div>
                                <div class="custom-block-info">
                                    <div class="reviews-group mb-3">
                                    </div>
             
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="custom-block d-flex flex-wrap">
                                <div class="custom-block-image-wrap d-flex flex-column">
                                    <div class="text-center mt-3">
                                        <img src="../landing-page/images/sepuede.jpg"> <!-- segunda imagen -->
                                    </div>
                                </div>
                                <div class="custom-block-info">
                                    <div class="reviews-group mb-3">
                                    </div>
                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="custom-block d-flex flex-wrap">
                                <div class="custom-block-image-wrap d-flex flex-column">
                                    <div class="text-center mt-3">
                                        <img src="../landing-page/images/traehd.jpg"> <!-- tercera imagen -->
                                    </div>
                                </div>
                                <div class="custom-block-info">
                                    <div class="reviews-group mb-3">
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <style>
                .bloque-pequeno {
                    max-height: 200px; /* Ajusta este valor según tus necesidades */
                }
            </style>
            
            <section class="reviews-section section-padding" id="section_4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <div class="custom-block bloque-pequeno d-flex flex-wrap">
                                <div class="custom-block-image-wrap d-flex flex-column">
                                    <div class="text-center mt-3">
                                        <a href=""><img class="imagen-especifica" src="../landing-page/images/osmaz-tercer.jpg"></a>
                                    </div>
                                </div>
                                <div class="custom-block-info">
                                    <div class="reviews-group mb-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12 my-5 my-lg-0">
                            <div class="custom-block bloque-pequeno d-flex flex-wrap">
                                <div class="custom-block-image-wrap d-flex flex-column">
                                    <div class="text-center mt-3">
                                        <a href=""><img src="../landing-page/images/[FREE - HDconvert.com] traee.jpg"></a>
                                    </div>
                                </div>
                                <div class="custom-block-info">
                                    <div class="reviews-group mb-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="custom-block bloque-pequeno d-flex flex-wrap">
                                <div class="custom-block-image-wrap d-flex flex-column">
                                    <div class="text-center mt-3">
                                        <a href=""><img src="../landing-page/images/Quintointentometro.jpg"></a>
                                    </div>
                                </div>
                                <div class="custom-block-info">
                                    <div class="reviews-group mb-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="custom-block bloque-pequeno d-flex flex-wrap">
                                <div class="custom-block-image-wrap d-flex flex-column">
                                    <div class="text-center mt-3">
                                        <a href=""><img src="../landing-page/images/salami2.jpg"></a>
                                    </div>
                                </div>
                                <div class="custom-block-info">
                                    <div class="reviews-group mb-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        
            
<style>
    .custom-block {
        background: none; 
        flex-basis: calc(25% - 6px); 
        margin: 3px; 
    }
    #section_cuadro_1 {
        display: flex; 
        justify-content: space-between; 
        flex-wrap: nowrap; 
    }
    .cuadro {

    width: 60%;
    height: 500px; 
    padding: 10px;
    margin: 70px auto 0 auto; 
    border: 3px solid #f2e8ff;
    border-radius: 45px; 
    box-shadow: 10px 10px 5px #fbefff;
    background-color: #f7f0ff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .cuadro h1 {
        text-align: center;
        margin-top: -20px; 
    }
    .cuadro form {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .cuadro input {
        margin: 10px;
        border-radius: 5px; 
        border: 2px solid #ffffff; 
        width: 360px; 
        height: 100px; 
        font-size: 26px; 
        padding-left: 50px; 
        border-radius:20px; 
    }
    .cuadro input[type="submit"] {
        background-color: #ff7e2d; 
        color: #ffffff; 
        border: 3px solid #ff7e2d !important; 
        border-radius: 40px; 
    }
    
    .cuadro form::before {
        content: "✉";
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
    }
</style>
    
<section class="contact-section section-padding" id="section_5">
    <div class="cuadro">
        <h4 style="color: #041a2cd7">Suscribete a nuestro boletin para tener informaciones
            y noticias sobre Movilidad360DN</h4>
        <form method="post">
            <input type="email" id="email" name="email" placeholder="E-mail">
            <input type="submit" value="Suscribirse">
        </form>
    </div>
</section>
</section>
<footer>
    <div class="container" style="color: #0088ff">
        <div class="row">
            <div class="col" style="margin-bottom: 40px;"> <!-- Sin margen a la izquierda -->
                <a href=""><img src="images/imagen_2024-04-07_122528292-removebg-preview.png"></a>
            </div>
            <div class="col" style="margin-bottom: 20px; margin-left: 20px;"> <!-- Añadido margen a la izquierda -->
                <h3 style="color: #14183E">NOSOTROS</h3>
                <ul style="list-style-type: none;">
                    <li style="color: #9f9f9f; margin-bottom: 10px;">about</li>
                    <li style="color: #9f9f9f; margin-bottom: 10px;">careers</li>
                    <li style="color: #9f9f9f; margin-bottom: 10px;">mobile</li>
                </ul>
            </div>
            <div class="col" style="margin-bottom: 20px; margin-left: 20px;"> <!-- Añadido margen a la izquierda -->
                <h3 style="color: #14183E">CONTACTOS</h3>
                <ul style="list-style-type: none;">
                    <li style="color: #9f9f9f; margin-bottom: 10px;">Help/FAQ</li>
                    <li style="color: #9f9f9f; margin-bottom: 10px;">Press</li>
                    <li style="color: #9f9f9f; margin-bottom: 10px;">Affilates</li>
                </ul>
            </div>
            <div class="col" style="margin-bottom: 20px; margin-left: 20px;"> <!-- Añadido margen a la izquierda -->
                <h3 style="color: #14183E">MAS</h3>
                <ul style="list-style-type: none;">
                    <li style="color: #9f9f9f; margin-bottom: 10px;">Airlesfees</li>
                    <li style="color: #9f9f9f; margin-bottom: 10px;">airline</li>
                    <li style="color: #9f9f9f; margin-bottom: 10px;">low fare tips</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</section>




        </main>

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/click-scroll.js"></script>
        <script src="js/custom.js"></script>

    </body>7
</html>